* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(226, 226, 226);
}

.App {
  height: 100vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#staff {
  background-color: white;
  border: 1px solid black;
}

.buttons {
  display: flex;
  flex-direction: row;
  border-top: 50px;
  justify-content: center;
  align-items: center;
}

.buttons > button, .db-buttons > button {
  margin: 10px;
  padding: 5px;
  font-size: 12pt;
}


.staff-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.piano-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.piano {
  position: relative;
  padding-top: 30px;
  padding-bottom: 10%;

  display: flex;
  flex-direction: row;
}

.white-key, .black-key {
  box-shadow: 0 0 10px black;
  font-size: 18pt;
  font-weight: bold;
}

.white-key {
  position: relative;
  background-color: white;
  height: 400px;
  width: 80px;
  margin: 1px;
  padding-top: 50%;
}

.black-key {
  position: absolute;
  background-color: black;
  color: white;
  height: 300px;
  width: 55px;
  margin-left: 2%;
  z-index: 3;
  border-top: 0;
  padding: 0;
  margin: 0;
  padding-top: 40%;
}

.white-key:active {
  background-color: rgb(230, 230, 230);
}

.black-key:active {
  background-color: rgb(30, 30, 30);
  
}

#cs {
  left: 9%;
}

#ds {
  left: 25%;
}

#fs {
  left: 53%;
}

#gs {
  left: 67%;
}

#as {
  left: 81%;
}

#load, #save {
  height: 30px;
  width: 180px;
}

#message {
  display: none;
  padding-top: 10px;
}

#options {
  width: 80px;
  margin-bottom: 250px;
  padding: 5px;
}

#songName{
  padding: 5px;
  margin-left: 10px;
}

#song-name{
  font-weight: bold;
  font-size: 24pt;
  padding-bottom: 10px;
}

.spinner{
  width: 100px;
  height: 100px;
  position: fixed;
  border: 5px solid black;
  top: 30%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  border-radius: 50%;
  border-top-color: white;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


