* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(226, 226, 226);
}

.App {
  height: 100vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.staff-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#staff {
  background-color: white;
  border: 1px solid black;

  visibility: hidden;
}

button {
  height: min-content;
  width: max-content;
}

#note-add {
  display: none;
}

#rest-add {
  display: none;
}

#delete {
  display: none;
}

.piano-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.piano {
  position: relative;
  padding-top: 10%;
  padding-bottom: 10%;

  display: flex;
  flex-direction: row;
}

.white-key, .black-key {
  box-shadow: 0 0 10px black;
  font-size: 18pt;
  font-weight: bold;
}

.white-key {
  position: relative;
  background-color: white;
  height: 400px;
  width: 80px;
  margin: 1px;
  padding-top: 50%;
}

.black-key {
  position: absolute;
  background-color: black;
  color: white;
  height: 300px;
  width: 55px;
  margin-left: 2%;
  z-index: 3;
  border-top: 0;
  padding: 0;
  margin: 0;
  padding-top: 40%;
}

.white-key:active {
  background-color: rgb(230, 230, 230);
}

.black-key:active {
  background-color: rgb(30, 30, 30);
  
}

#cs {
  left: 9%;
}

#ds {
  left: 25%;
}

#fs {
  left: 53%;
}

#gs {
  left: 67%;
}

#as {
  left: 81%;
}
