.App {
  background-color: rgb(226, 226, 226);
  height: 100vh;
  display: flex;
  justify-content: center;
}

.staff {
  background-color: white;
  margin-top: 10%;
  height: 100px;
  width: 67%;
  border: 2px solid black;

  display: flex;
  flex-direction: row;
}

.piano {
  position: absolute;
  bottom: 10%;

  display: flex;
  flex-direction: row;
}

.white-key, .black-key {
  box-shadow: 0 0 10px black;
  font-size: 18pt;
  font-weight: bold;
}

.white-key {
  position: relative;
  background-color: white;
  height: 400px;
  width: 80px;
  margin: 1px;
  padding-top: 25%;
}

.black-key {
  position: absolute;
  background-color: black;
  color: white;
  height: 300px;
  width: 55px;
  margin-left: 2%;
  z-index: 3;
  border-top: 0;
  padding: 0;
  margin: 0;
  padding-top: 20%;
}

.white-key:active {
  background-color: rgb(230, 230, 230);
}

.black-key:active {
  background-color: rgb(30, 30, 30);
  
}

#cs {
  left: 5%;
}

#ds {
  left: 12%;
}

#fs {
  left: 26%;
}

#gs {
  left: 33%;
}

#as {
  left: 40%;
}

#cs2 {
  left: 55%;
}

#ds2 {
  left: 62%;
}

#fs2 {
  left: 76%;
}

#gs2 {
  left: 83%;
}

#as2 {
  left: 90%;
}